extends dashb_layout

block content
    .content-header NOTES

    .section
        //note cards
        a(href='/newnotes')
            .card-holder.three_w
                .uk-card.uk-card-primary.uk-card-hover.uk-card-body.card-height
                    .card-icon-center
                        span(uk-icon='icon: plus; ratio: 2')

        for item, i in notes
            .card-holder.three_w
                .uk-card.uk-card-default.uk-card-hover.uk-card-body.card-height.uk-padding-small
                    .uk-card-badge.uk-label #{i+1}
                    h3.uk-card-title #{notes[i].heading}
                    p #{notes[i].subhead}