doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/uikit/css/uikit.min.css')
    
    script(src='/uikit/js/uikit.min.js')
    script(src='/js/main.js')
  body
    block html
