extends header

block html
  include menu.pug

  .app-content
    .section.add-top-bottom-padding
      .section-header
        h1 Notebook
      .section-sec-header
        | Create and share your Notes

    .section
      .section-tab.section-flex
        .card-section.half_w
          | Half  asdasdasd
          | asdadsdas asda  asdasda dasd asda asdas  dasd as das das das
        .card-section.half_w
          | Half
      .section-tab
        | adasdas asd a
      .section-tab
        | adasdas asd a

    .section
      .section-tab
        | adasdas asd a
      .section-tab
        | adasdas asd a
      .section-tab
        | adasdas asd a