.app-menu
    .app-nav-left
        .app-logo
        .app-name
            | NOTE APP

    .app-nav-right.smooth
        .app-nav-title
            | SIGN UP
        .app-nav-title
            | SIGN IN