.app-menu
    .app-nav-left
        a(href='/')
            .app-logo
        .app-name
            | NOTEBOOK

    .app-nav-right.smooth
        a(href='/signup')
            .app-nav-title
                | SIGN UP
        a(href='/signin')
            .app-nav-title
                | SIGN IN