extends header

block html
    .section
        .uk-card.uk-card-default.uk-card-body
            form(name='newnote' method='POST', action='/savenote')
                .uk-margin
                    input.uk-input(name='strHead', type='text', placeholder='Enter Heading', value=head ,required)
                .uk-margin
                    input.uk-input(name='strSubhead', type='text', placeholder='Enter Sub-Heading', value=subhead ,required)
                .uk-margin
                    select.uk-select(title='Select sharing options', name='strShare')
                        option(value=0) Private Note
                        option(value=1) Public Notes
                .uk-margin
                    .uk-placeholder.uk-text-center
                        span(uk-iocn='icon: file-upload')
                        div(uk-form-custom)
                            input#fileinput(type='file', accept='text/plain' onchange='uploadFile();')
                            span.uk-link Select the file
                .uk-margin
                    textarea#inputdiv(name='strContent', required) #{content}
                .uk-margin
                    .uk-text-right
                        button.uk-button.uk-button-primary(name='btnNewNote', type='submit') CREATE NOTE
                        a(href='/dashboard')
                            button.uk-button.uk-button-default(type='button') HOME
            
            //-Alert the user
            if (alert == 'error')
                .uk-margin
                    .uk-alert-warning(uk-alert)
                        a.uk-alert-close(uk-close)
                        p Something went wrong, failed to save the note

    script.
        CKEDITOR.config.customConfig = '/ckeditor/user-config.js';
        CKEDITOR.replace('inputdiv');